<a href="https://colab.research.google.com/github/niikkkhiil/niikkkhiil/blob/main/Data_Structure_Advance_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Revese the String
a = input(str())
for i in range(len(a)-1,-1,-1):
    print(a[i],end="")

Nikhil Ganorkar
rakronaG lihkiN

In [ ]:
# 2. Number of vowel in string
a = input(str())
count = 0
for i in a:
    if i in "aeiouAEIOU":
        count += 1
print(count)

Hello World
3

In [ ]:
# 3. Check wether its Palindrome or not
a = input(str())
if a == a[::-1]:
    print("True")
else:
    print("False")

Hello
False

In [ ]:
# 4. Check wether two string are anagrams of each other
a = input(str())
b = input(str())
if sorted(a) == sorted(b):
    print("True")
else:
    print("False")

Hello PWSkills
Hey Nikhil
False

In [ ]:
# 5. Finding all occurrence of sub string given string
a = input(str())
b = input(str())
count = 0
for i in range(len(a)):
    if a[i:i+len(b)] == b:
        count += 1
print(count)

Hello, my name is Nikhil, I'm working on my assignment
my name is Nikhil
1

In [ ]:
# 6. String compression using counts of repeted character
a = input(str())
count = 1
for i in range(len(a)-1):
    if a[i] == a[i+1]:
        count += 1
    else:
        print(a[i]+str(count),end="")

it looks like you're trying to find similar characters
i1t1 1l1o2k2s2 2l2i2k2e2 2y2o2u2'2r2e2 2t2r2y2i2n2g2 2t2o2 2f2i2n2d2 2s2i2m2i2l2a2r2 2c2h2a2r2a2c2t2e2r2

In [ ]:
#7. Code to determine if string has unique characters

a = input(str())
if len(a) == len(set(a)):
    print("True")
else:
    print("False")

yo
True

In [ ]:
# 8. Converting string to uppercase or lowercase
a = input(str())
print(a.upper())
print(a.lower())

Ganpati Bappa Morya
GANPATI BAPPA MORYA
ganpati bappa morya

In [ ]:
# 9. Code to count words in string
a = input(str())
count = 1
for i in a:
    if i == " ":
        count += 1
print(count)

my name is nikhil
4

In [ ]:
# 10. Code to concatenate two string without + operators
a = input(str())
b = input(str())
for i in b:
    a += i
print(a)

Hi Nikhil
whats going on?
Hi Nikhilwhats going on?

In [ ]:
# 11. Code to remove all specific occurrences of specific elements from the list
a = input(str())
b = input(str())
for i in a:
    if i != b:
        print(i,end="")

Hello Nikhil
Have you completed ur assignment
Hello Nikhil

In [ ]:
#12. Code to find second largest intiger from list
a = input(str())
a = list(map(int, a.split()))
a.sort()
print(a[-2])

3 5 39 63 59
59

In [ ]:
# 13. Code to count the occurrence of each element in a list & return as a dictionary with element as key and count as value
a = input(str())
a = list(map(int, a.split()))
d = {}
for i in a:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1
print(d)

3 3 60 9 6 9 60 3 9 9 6
{3: 3, 60: 2, 9: 4, 6: 2}

In [ ]:
#14. reverse a list without using build in reverse function
a = input(str())
a = list(map(int, a.split()))
for i in range(len(a)-1,-1,-1):
    print(a[i],end=" ")

56 6 9 3 5 8  58  56 32
32 56 58 8 5 3 9 6 56

In [ ]:
#15.Code to find and remove dublicate while mainting orignal order of list
a = input(str())
a = list(map(int, a.split()))
b = []
for i in a:
    if i not in b:
        b.append(i)
print(b)

1 65 3 89 3 89 65 1
[1, 65, 3, 89]

In [ ]:
# 16. Code to identify wether its sorted (either ascending or decending) or  not
a = input(str())
a = list(map(int, a.split()))
if a == sorted(a) or a == sorted(a, reverse = True):
  print("True")
else:
  print("False")

9 8 7 6 5 4 3 2 1
True

In [ ]:
# 17. Code to merge two sorted list into one
a = input(str())
b = input(str())
a = list(map(int, a.split()))
b = list(map(int, b.split()))
c = a + b
c.sort()
print(c)

5 6  7 9
1 2 3 4 5
[1, 2, 3, 4, 5, 5, 6, 7, 9]

In [ ]:
# 18. Code to find intersection of two list
a = input(str())
b = input(str())
a = list(map(int, a.split()))
b = list(map(int, b.split()))
c = []
for i in a:
  if i in b:
    c.append(i)
print(c)

1 2 3 4 5
5 6 7 8 9
[5]

In [ ]:
# 19. Code to find union of two list without dublicate
a = input(str())
b = input(str())
a = list(map(int, a.split()))
b = list(map(int, b.split()))
c = a + b
d = []
for i in c:
  if i not in d:
    d.append(i)
print(d)

1 2 3 4 5 6
5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 20. Code to shuffle a list without using buildin shuffle function
a = input(str())
a = list(map(int, a.split()))
import random
def manual_shuffle(a):
  length = len(a)
  for i in range(length):
    random_index = random.randint(0,length-1)
    a[i],a[random_index] = a[random_index],a[i]
  return a
print(manual_shuffle(a))

4 5 6 3 2 5 6 65
[3, 5, 2, 5, 6, 65, 6, 4]

In [ ]:
# 21. Code which takes two tuple and return a tuple containg common elements
a = input(str())
b = input(str())
a = tuple(map(int, a.split()))
b = tuple(map(int, b.split()))
c = []
for i in a:
  if i in b:
    c.append(i)
print(tuple(c))

5 6 3 5 9
6 5 3  5 9
(5, 6, 3, 5, 9)

In [ ]:
# 22. Fining intersection of two set with user input as coma seprated
a = input(str())
b = input(str())
a = set(map(int, a.split(",")))
b = set(map(int, b.split(",")))
c = a.intersection(b)
print(c)

1,2,3
3,4,5
{3}

In [ ]:
# 23. Code to concatenate two tuple
a = input(str())
b = input(str())
a = tuple(map(int, a.split()))
b = tuple(map(int, b.split()))
c = a + b
print(c)

1 2 3 4
5 6 7 8 9
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# 24. Code to print element which are not present in 2nd string
a = input(str())
b = input(str())
a = set(map(int, a.split()))
b = set(map(int, b.split()))
c = a.difference(b)
print(c)

 5 6 3 2 4 8
1 2 5 6 9 8 7 4 5
{3}

In [ ]:
# 25. Code that take tuple and two intiger as input, the function should return new tuple containg elements from orignal tuple with specific range of indices
a = input(str())
b = int(input())
c = int(input())
a = tuple(map(int, a.split()))
d = a[b:c+1]
print(d)

1 2 3 6 5 4 7 8 9
2
7
(3, 6, 5, 4, 7, 8)

In [ ]:
# 26. Code that prompt user to input two sets of charecters, then print the union of them
a = set(input())
b = set(input())
c = a.union(b)
print(c)

awrhasb
afhetaet
{'s', 'f', 'a', 'r', 'w', 't', 'h', 'b', 'e'}

In [1]:
# 27. Finding maximum and minimum from tuple using tuple unpacking
a = input(str())
a = tuple(map(int, a.split()))
max_value = max(a)
min_value = min(a)
print(max_value,min_value)

1 2 3  8 98 6 8
98 1

In [2]:
# 28. Finding Union, intersection and Difference of two sets
a = set(input())
b = set(input())
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

1 2 3 5 9 +
1 56498 98
{'5', '8', ' ', '4', '3', '6', '9', '2', '1', '+'}
{'5', '1', '9', ' '}
{'3', '2', '+'}

In [3]:
# 29. Finding occurence of number in tuple
a = input(str())
a = tuple(map(int, a.split()))
b = int(input())
count = 0
for i in a:
  if i == b:
    count += 1
print(count)

1 2 3 52  5 5 5 8 9 5 5 5 5
5
7

In [4]:
# 30. Finding symmetric difference of two sets
a = set(input())
b = set(input())
c = a.symmetric_difference(b)
print(c)

1 2 3 4 5 6
5 6 7 8 9
{'8', '4', '3', '7', '9', '2', '1'}

In [5]:
# 31. Code to take list of words as input and return a dictionary  as key are unique words and valure are frequency of those words
a = input(str())
a = a.split()
d = {}
for i in a:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1
print(d)

Its a sunny day after a long
{'Its': 1, 'a': 2, 'sunny': 1, 'day': 1, 'after': 1, 'long': 1}

In [13]:
# 32. Code which take two dictionary anf then merge them into one

def merge_dictionaries(dict1, dict2):

    merged_dict = dict1.copy()


    for key, value in dict2.items():

        if key in merged_dict:
            merged_dict[key] += value
        else:

            merged_dict[key] = value

    return merged_dict

dict1 = eval(input("Enter the first dictionary (e.g., {'a': 1, 'b': 2}): "))

dict2 = eval(input("Enter the second dictionary (e.g., {'c': 3, 'd': 4}): "))

merged_dict = merge_dictionaries(dict1, dict2)

print("Merged Dictionary:", merged_dict)

Enter the first dictionary (e.g., {'a': 1, 'b': 2}): {'a':1, 'b':4}
Enter the second dictionary (e.g., {'c': 3, 'd': 4}): {'b':5}
Merged Dictionary: {'a': 1, 'b': 9}

In [17]:
#33. Code to acces the value of nested disctionary, function should take dictionary and list of key as input from user and return corresponding values

def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict) and key in d:
            d = d[key]
        else:
            return None
    return d

nested_dict = {'a': {'b': {'c': {'d': 42}}}}
keys = ['a', 'b', 'c', 'd']
value = get_nested_value(nested_dict, keys)
print(value)

42

In [18]:
# 34. def sort_dict_by_values(d, ascending=True):

def sort_dict_by_values(d, ascending=True):
    sorted_items = sorted(d.items(), key=lambda item: item[1], reverse=not ascending)
    return dict(sorted_items)

unsorted_dict = {'apple': 2, 'banana': 1, 'cherry': 3}
sorted_dict_asc = sort_dict_by_values(unsorted_dict, ascending=True)
sorted_dict_desc = sort_dict_by_values(unsorted_dict, ascending=False)

print("Ascending:", sorted_dict_asc)
print("Descending:", sorted_dict_desc)

Ascending: {'banana': 1, 'apple': 2, 'cherry': 3}
Descending: {'cherry': 3, 'apple': 2, 'banana': 1}

In [20]:
# 35. Code that inverts dictionary, swapping keys and values

def invert_dict(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
            inverted_dict[value].sort()
        else:
            inverted_dict[value] = [key]

    return inverted_dict

original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 2, 'e': 3}
inverted_dict = invert_dict(original_dict)

print(inverted_dict)

{1: ['a', 'c'], 2: ['b', 'd'], 3: ['e']}